# Email Configuration
# Using Gmail: SMTP_SERVER=smtp.gmail.com, SMTP_PORT=465
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465

# The email address used to authenticate and send the mail
EMAIL_ADDRESS=anshulvermaa0001@gmail.com

# For Gmail, this should be an App Password, NOT your actual login password
EMAIL_APP_PASSWORD=nleb gjxl xujz rhrv
# The email address where you want to receive the messages (can be the same as EMAIL_ADDRESS)
RECEIVER_EMAIL=anshulvermaa0001@gmail.com

